<div class="full-container">

    <div class="card-grid">
      <mat-card *ngFor="let topic of topics" class="post-card">
        <mat-card-title>{{ topic.title }}</mat-card-title>
        <mat-card-content>
          <p>{{ topic.description | slice:0:200 }}...</p>
          <p class="center">
                <button class="btn" mat-raised-button color="primary" (click)="subscribe(topic.id)">
                  S'abonner
                </button>
            </p>
        </mat-card-content>
      </mat-card>
    </div>
</div>