<div class="login-container">
    <div class="back-button">
      <a href="/home">
        <span class="back-icon">←</span>
      </a>
    </div>
    <div class="form-container">
      <h2>Se connecter</h2>
      <form>
        <div class="form-group">
          <label for="email">E-mail ou nom d'utilisateur</label>
          <input type="text" id="email" name="email" />
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" name="password" />
        </div>
        <button type="submit" class="login-button">Se connecter</button>
      </form>
    </div>
</div>