<div class="login-container">
    <div class="back-button">
      <a href="/home">
        <span class="back-icon">←</span>
      </a>
    </div>
    <div class="form-container">
      <h2>Se connecter</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="identifier">E-mail ou nom d'utilisateur</label>
          <input type="text" id="identifier" formControlName="identifier" />
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" formControlName="password" />
        </div>
        <button type="submit" class="login-button" [disabled]="loginForm.invalid">Se connecter</button>
      </form>

      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
</div>