<div class="container">
  <app-back-button></app-back-button>
    <div class="form-container">
      <h2>Se connecter</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="identifier">E-mail ou nom d'utilisateur</label>
          <input type="text" id="identifier" formControlName="identifier" />
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" formControlName="password" />
        </div>
        <button type="submit" class="button" [disabled]="loginForm.invalid">Se connecter</button>
      </form>

      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </div>
</div>