<div class="container">
    <app-back-button></app-back-button>
    <div class="form-container">
        <h2>Inscription</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" formControlName="username">
            </div>
            <div class="form-group">
                <label for="email">Adresse e-mail</label>
                <input type="email" id="email" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" formControlName="password">
            </div>
            <button type="submit" class="button" [disabled]="registerForm.invalid">S'inscrire</button>
        </form>

        <div *ngIf="message" [ngClass]="messageClass" id="message">{{ message }}</div>
    </div>
</div>
