/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  
  .container {
    max-width: 500px;
    margin: 0px auto;
    padding: 30px;
    text-align: center;
  }

  .toolbar {
    background-color: white; /* Toolbar blanche */
    border-bottom: 1px solid black; /* Bordure inférieure noire */
    color: black; /* Texte noir */
  }
  
  .header {
    display: flex;
    justify-content: auto;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
  }
  
  .logo {
    width: 100px;
  }
  
  .back-button {
    position: absolute;
    left: 20px;
  }
  
  .back-icon {
    font-size: 24px;
    color: black;
    text-decoration: none;
  }
  
  .form-container {
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #6a4bba;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #5b3e9f;
  }
  .toolbar {
    background-color: white;
    border-bottom: 1px solid black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacement entre les éléments */
    padding: 0 20px;
  }
  
  .toolbar-left {
    display: flex;
    align-items: center;
  }
  
  .toolbar-right {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 100px;
  }
  
  .nav-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 0 15px;
  }
  
  .mat-icon {
    color: gray;
    vertical-align: middle;
  }
  .active-link {
    font-weight: bold;
    color: #6a4bba;
  }
  .mat-form-field {
    width: 100%; /* Les champs prendront toute la largeur du conteneur */
  }
  
  .form-group {
    display: block; 
    margin-bottom: 20px;
  }